/* Import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Light Mode */
:root {
    --main-accent: #1992D4;
    --card-accent: #F0B429;
    --primary-bg: #FFFFFF;
    --secondary-bg: #E2E8F0;
    --main-text: #020202;
    --sidebar-text: #FFFFFF;
}

.dark-mode {
    --main-accent: #072f53;
    --card-accent: #e7c881;
    --primary-bg: #000000;
    --secondary-bg: #272829;
    --main-text: #FFFFFF;
    --sidebar-text: #FFFFFF;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', 'system-ui';
    font-weight: bold;
}

.container {
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    background-color: var(--main-accent);
    color: var(--sidebar-text);
    padding: 2rem;

    grid-column: 1 / span 1;
    grid-row: 1 / span 2;

    display: flex;
    flex-flow: column nowrap;
    gap: 2.5rem;
}

.sidebar .top .item {
    font-size: x-large;
}

.sidebar .item {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem;
    font-size: medium;

    /* Allows hover effect on parent container padding */
    margin-left: -2rem;
    margin-right: -2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.sidebar .mid .item:hover,
.sidebar .bot .item:hover {
    background-color: var(--sidebar-text);
    color: var(--main-accent);
}

.header {
    background-color: var(--primary-bg);
    color: var(--main-text);
    grid-area: 1 2 span 1 span 1;
    padding: 1% 4%;

    display: grid;
    grid-template: 1fr 2fr / 3fr 2fr;
}

.header > * {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header .searchbar {
    grid-area: 1 1 span 1 span 1;
}

.header .searchbar input {
    flex: 1 1 0;
    background-color: var(--secondary-bg);
    border: none;
    border-radius: 2rem;
    margin-left: 1%;
    margin-right: 20%;
    padding: 0.7rem;
}

.header .notificationTab {
    font-size: medium;
    grid-area: 1 2 span 1 span 1;
    justify-content: center;
    gap: 8%;
}

.header .notificationTab img {
    width: 4rem;
    border-radius: 100%;
}

.header .greetingsBox {
    grid-area: 2 1 span 1 span 1;
    gap: 2rem;
}

.header .greetingsBox .greetings {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}

.header .greetingsBox .greeting {
    font-size: small;
}

.header .greetingsBox .username {
    font-size: 2rem;
}

.header .greetingsBox img {
    width: 6rem;
    border-radius: 100%;
}

.header .postButtons 
{
    gap: 5%;
    grid-area: 2 2 span 1 span 1;
}

.header .postButtons button {
    background-color: var(--main-accent);
    border: none;
    border-radius: 2rem;
    color: var(--sidebar-text);
    flex: 1 1 auto;
    font-weight: bold;
    padding: 1rem;
    width: 8rem;
}

.main-content {
    background-color: var(--secondary-bg);
    box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.2);
    grid-area: 2 2 span 1 span 1;
}

#toggleButton {
    background-color: var(--primary-bg);
    color: var(--main-text);
    border: none;
    border-radius: 100%;
} 

#toggleButton:hover {
    color: var(--main-accent);
}